<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/items">Items</a>
    <form action="/items/submit" method="post">
        <label> 
            Item Name:
            <input type="text" name="itemName">
        </label>
        <label> 
            Stats:
            <input type="text" name="stats">
        </label>
        <label> 
            Cost:
            <input type="text" name="cost">
        </label>
        <label> 
            Description:
            <input type="text" name="description">
        </label>
        <button type="submit">Submit Item</button>
    </form>
</body>
</html>